doctype

html
head
   h1 Brain Puzzels
   body
   body(bgcolor='#5C4A72' align='center')
    img.image(src='/images/Puzzel1.png' height='400' width='400' align='center')
    img.image(src='/images/Puzzel2.png' height='400' width='400' align='center')
    img.images(src='/images/Puzzel3.png' height='400' width='400' align='center')
    img.images(src='/images/Puzzel4.png' height='400' width='400' align='center')