doctype

html
head
   h1 Happy Quotes
   body
     body(bgcolor='#5C4A72' align='center')
     img.image(src='/images/quote1.png' height='400' width='400' align='center')
     img.image(src='/images/quote2.png' height='400' width='400' align='center')
     img.images(src='/images/quote3.png' height='400' width='400' align='center')
     img.images(src='/images/quote4.png' height='400' width='400' align='center')
     img.images(src='/images/quote5.png' height='400' width='400' align='center')
     img.images(src='/images/quote6.png' height='400' width='400' align='center')