doctype

html
head
   h1 Funny Moments 
   body
     body(bgcolor='#5C4A72' align='center')
     <iframe width="560" autoplay="" height="315" src="https://www.youtube.com/embed/wvqLqitSNZM" frameborder="0" allowfullscreen></iframe>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/1JArN6rag8s" frameborder="0" allowfullscreen></iframe>

     <iframe width="560" height="315" src="https://www.youtube.com/embed/JWZMzcmqMwc" frameborder="0" allowfullscreen></iframe>