doctype html
html(lang="en")
head
   h1 Self Relaxation 
    button(type='submit' aligh='right' onclick='movephoto()') Smile! 
   script(src='/script/exe.css') 

   body(bgcolor='#5C4A72' align='center')
    img.image(src='/images/images1.png' height='500' width='1000')

   script(src='/scripts/main.js')
    
table(border='0' width='750' align='center')
  tr
   td(align='left')
    button(type='submit' onclick='movetoHappyQuotes()') Happy Quotes
   td(align='left')
    button(type='submit' onclick='move()') Sucess Stories 
   td(align='center')
    button(type='submit' onclick='movetoBrainPuzzels()') Brain Puzzels
   td(align='center')
    button(type='submit' onclick='movetoMusic()') Music
   td(align='right') 
    button(type='submit' onclick='movetoBreathInOut()') Breath In-Out
   td(align='right')
    button(type='submit' onclick='movetohappy()') Happy Moments
 
      
img.image(src='/images/whyworry.png' height='400' width='1000')
   
footer
   p Contact us: sbrelaxation@gmail.com,  Talk to your Friend: 1234567890