doctype

html
head
   h1 Change Your Mood!
   body
    body(bgcolor='#5C4A72' align='center')

    iframe(type='text/html' width='400' height='400' aligh='center'
    src='audio.mp3' frameborder='0' autoplay='')
   h2 Dear Music
   img.image(src='/images/music.png' height='400' width='400' align='center')
