doctype

html
head
   h1 Sucess Story of KFC
   body
    body(bgcolor='#5C4A72' align='center')
    p Have you heard the life story of Colonel Sanders? It’s taken root in the muddy internet backwater where only inspirational anecdotes tend to flourish.

    In the past couple weeks, variations on the tale have materialized in an Osaka Craigslist posting, a YouTube clip designed like one of those Facebook videos you watch without sound while you’re on the toilet, and the Facebook page of former candidate for the GOP presidential nomination, Dr. Ben Carson. I came to it through LinkedIn, my personal junction with the web’s dregs.

     p1 
     At age 5 his Father died," begins the story. "At age 16 he quit school. At age 17 he had already lost four jobs. At age 18 he got married. He joined the army and washed out there. At age 20 his wife left him and took their baby. He became a cook in a small cafe and convinced his wife to return home. At age 65 he retired. He felt like a failure & decided to commit suicide. He sat writing his will, but instead, he wrote what he would have accomplished with his life & thought about how good of a cook he was. So he borrowed $87 fried up some chicken using his recipe, went door to door to sell. At age 88 Colonel Sanders, founder of Kentucky Fried Chicken (KFC) Empire was a billionaire."

      Beneath the LinkedIn item is a discolored photo of a smiling Colonel Sanders holding a bucket of chicken, his portrait emblazoned onto its red and white cardboard. And beneath the image are comments. "Sometimes you have to fail to figure out what works," responds one commenter. Says another, "Inspirational."

      Each retelling differs, tweaked to appeal to a specific motivation-hungry audience. A longer version on Facebook, for instance, includes more provocative details like "At age 20 his wife left him and took their baby daughter [...] He failed in an attempt to kidnap his own daughter, and eventually he convinced his wife to return home." and "On the 1st day of retirement he received a cheque from the Government for $105. He felt that the Government was saying that he couldn’t provide for himself."


      h1 Sucess Story of Steve Jobs

      p Steve Jobs, founder of Apple Computer Corporation, was one of the most successful → entrepreneurs.
         His success story is legendary.

      p1  His sunwed mother decided to put him for adoption immediately after Steve was born because he was "an unexpected baby"
       
         He went to college but decided to drop out because it was too expensive. Recalling his time there Steve Jobs said, "I didn’t have a dorm room, so I slept on the floor in friends’ rooms, I returned coke bottles for the 5¢ deposits to buy food with, and I would walk the 7 miles across town every Sunday night to get one good meal a week at the Hare temple."

         At 20, Steve Jobs and Steve Wozniak started a company in a garage on April 1, 1976 after Steve saw a computer Wozniak designed for himself. Jobs named their company – Apple in memory of a happy summer he had spent as an orchard worker in Oregon.
         Later that year, the duo debuted the Apple I at the Homebrew Computer Club in Palo Alto, California. A local store offered to buy 50 machines and to finance the production, the duo had to sell their most expensive possessions. Jobs sold his Volkswagen van while Wozniak sold his Hewlett-Packard scientific calculator.2
         The company's second product called Apple II became such a hit that it is credited to be the best selling computer in the 1970s and early 1980s. By 1982 however, his company sales sagged in the face of competition from IBM’s new PC.
         Apple Inc. started working on a new machine (‘insanely great’ according to Jobs) called the Macintosh. Steve Jobs was reported to commandeered the project, ruthlessly pushing its computer engineers and flying a pirate flag above the building where the → team worked.

         Introduced in 1984, by 1986 the Mac was a huge success.
         After 10 years, starting from 2 kids working in a garage, Apple computer had grown into a $2 billion dollar company with over 4000 employees.
         An internal power struggle in Apple ended with Jobs being stripped of his duties in 1985 and so he left the company 
         A tragedy? Not at all! 
         It turned out that getting fired from Apple was the best thing that could have ever happened to me. The heaviness of being successful was replaced by the lightness of being a beginner again, less sure about everything. It freed me to enter one of the most creative periods of my life," said Steve Jobs later on.